<section class="acercade d-flex">
    <div class="perfil">
        <div class="card card-perfil"
            style="border-radius: 50%; max-width: 60%; max-height: 60%; margin-top: -50px; margin-left: 3.5rem;">
            <img src="../assets/img/foto-perfil.jpg" class="card-img-top" alt="foto de perfil">
        </div>
        <div class="card-body" style="width: 18rem;">
            <p class="card-text">FullStack Developer Jr</p>
        </div>
    </div>
    <div class="text_container">
        <div>
            <h2 class="text-center">Acerca de mi</h2>
            <i class="fa-solid fa-pen-to-square"></i>
            <p class="parrafo">
                Hola, mi nombre es Jimena Blasco y soy Desarrolladora Web FullStack.
                Me siento muy afortunada de haber encontrado algo que me apasiona.
            </p>
            <p class="parrafo">
                Todo comienza cuando me introduje en el Diseño. Comence a estudiar Arquitectura pero la vida me fue
                cambiando de rumbo, hice muchos cursos Interiorismo, Diseño Arquitectónico, y luego seguí con Diseño
                Grafico hasta llegar al Diseño Web.
                Al ser una persona muy curiosa y autodidacta, comencé por estudiar de manera online, HTML, CSS,
                JAVASCRIPT, pero a medida que avanzaba se iba haciendo mas complejo, por lo que decidí realizar un
                curso, de la UTN y E-learning, de Desarrollo Web FullSrack; con el cual estoy muy contenta.
                Aparte ingresé en el curso de Argentina Programa, en el cual estoy aprendiendo mucho más, tanto
                FrontEnd como BackEnd.
            </p>
            <p class="parrafo">
                Esta experiencia me permite tener una amplia visión estratégica, así como una mentalidad más
                abierta, para llevar a cabo esas ideas creativas que siempre he tenido.
            </p>
            <p class="parrafo">
                Si hay algo que me caracteriza, aparte de lo ya mencionado anteriormente, es que me involucro al
                100% en todo lo que hago y pongo toda la energía que me aporta trabajar de aquello que tanto me
                entusiasma.
            </p>
        </div>
    </div>
</section>
