<section class="section proyectos">
    <h2 class="text-center">Proyectos</h2>
    <div class="container-fluid d-flex proyectos_container">
        <div>
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <div>
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/social-media-marketing-agency-web-design-template.jpg" class="img-fluid"
                            alt="logo utn frre">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Proyecto 1</h3>
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                                beatae eius corporis rem amet atque quidem quaerat dolores. Dolorum illum nemo fugit
                                quod sapiente incidunt adipisci ut facilis odio. Odio!</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/social-media-marketing-agency-web-design-template.jpg" class="img-fluid"
                            alt="logo utn frre">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Proyecto 2</h3>
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                                beatae eius corporis rem amet atque quidem quaerat dolores. Dolorum illum nemo fugit
                                quod sapiente incidunt adipisci ut facilis odio. Odio!</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/social-media-marketing-agency-web-design-template.jpg" class="img-fluid"
                            alt="logo utn frre">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Proyecto 3</h3>
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                                beatae eius corporis rem amet atque quidem quaerat dolores. Dolorum illum nemo fugit
                                quod sapiente incidunt adipisci ut facilis odio. Odio!</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
