<app-header></app-header>
<app-about></app-about>


<section class="section experiencia d-flex">
    <div class="container-fluid">
        <div>
            <h2 class="text-center">Experiencia</h2>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/logo-poncio.jpg" class="img-fluid" alt="logo poncio">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Consultora Poncio</h3>
                            <h4 class="card-title">Asistente Capacitación</h4>
                            <p class="card-text">Plataforma Moodle, Encuestas, Capacitaciones.</p>
                            <p class="card-text"><small class="text-muted">03/2020 – Actualmente</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/logo-poncio.jpg" class="img-fluid" alt="logo poncio">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Consultora Poncio</h3>
                            <h4 class="card-title">Asistente Capacitación</h4>
                            <p class="card-text">Plataforma Moodle, Encuestas, Capacitaciones.</p>
                            <p class="card-text"><small class="text-muted">03/2020 – Actualmente</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/logo-poncio.jpg" class="img-fluid" alt="logo poncio">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Consultora Poncio</h3>
                            <h4 class="card-title">Asistente Capacitación</h4>
                            <p class="card-text">Plataforma Moodle, Encuestas, Capacitaciones.</p>
                            <p class="card-text"><small class="text-muted">03/2020 – Actualmente</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section educacion d-flex">
    <div class="container-fluid">
        <div>
            <h2 class="text-center">Educación</h2>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/logo-utnfrre.png" class="img-fluid" alt="logo utn frre">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Universidad UTN FRRE</h3>
                            <h4 class="card-title">Diplomatura en Programación Web FullStack</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/logo-utnfrre.png" class="img-fluid" alt="logo poncio">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Universidad UTN FRRE</h3>
                            <h4 class="card-title">Diplomatura en Programación Web FullStack</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/logo-utnfrre.png" class="img-fluid" alt="logo poncio">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Universidad UTN FRRE</h3>
                            <h4 class="card-title">Diplomatura en Programación Web FullStack</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section habilidades">
    <h2 class="text-center">Habilidades</h2>
    <div class="container-fluid d-flex">
        <div class="habil_duras container col-6 p-4">
            <h4>Habilidades Duras</h4>
            <div class="row row-cols-4 g-2">
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>
            </div>
        </div>
        <div class="habil_blandas col-6 p-4">
            <h4>Habilidades Blandas</h4>
            <div class="row row-cols-4 g-2">
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section proyectos">
    <h2 class="text-center">Proyectos</h2>
    <div class="container-fluid d-flex proyectos_container">
        <div>
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <div>
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/social-media-marketing-agency-web-design-template.jpg" class="img-fluid"
                            alt="logo utn frre">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Proyecto 1</h3>
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                                beatae eius corporis rem amet atque quidem quaerat dolores. Dolorum illum nemo fugit
                                quod sapiente incidunt adipisci ut facilis odio. Odio!</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/social-media-marketing-agency-web-design-template.jpg" class="img-fluid"
                            alt="logo utn frre">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Proyecto 2</h3>
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                                beatae eius corporis rem amet atque quidem quaerat dolores. Dolorum illum nemo fugit
                                quod sapiente incidunt adipisci ut facilis odio. Odio!</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0" style="justify-content: center;">
                    <div class="col-md-4 pe-4 d-flex align-items-center" style="width: 20%;">
                        <img src="../assets/img/social-media-marketing-agency-web-design-template.jpg" class="img-fluid"
                            alt="logo utn frre">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Proyecto 3</h3>
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                                beatae eius corporis rem amet atque quidem quaerat dolores. Dolorum illum nemo fugit
                                quod sapiente incidunt adipisci ut facilis odio. Odio!</h4>
                            <p class="card-text"><small class="text-muted">06/2020 - 12/2022</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="section footer">
    <div class="container-fluid d-flex">
        <div class="col-6 info">
            <h5>Info</h5>
        </div>
        <div class="col-6 redes">
            <h5>Redes</h5>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
    </div>
</footer>