<section class="section habilidades">
    <h2 class="text-center">Habilidades</h2>
    <div class="container-fluid d-flex">
        <div class="habil_duras container col-6 p-4">
            <h4>Habilidades Duras</h4>
            <div class="row row-cols-4 g-2">
                <div class="col">
                    <button type="button" 
                        class="btn btn-secondary" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top"
                        data-bs-title="Tooltip on top"
                    >
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/bootstrap-5-1.svg" alt="">
                        Bootstrap
                    </button>
                </div>
            </div>
        </div>
        <div class="habil_blandas col-6 p-4">
            <h4>Habilidades Blandas</h4>
            <div class="row row-cols-4 g-2">
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Tooltip on top">
                        <img src="../assets/img/comunication.svg" alt="">
                        Comunicación
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
