/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #4ABAE4;
    --color-secondary: #F8B813;
    --color-tertiary: #231F20;
    --color-quaternary: #2E296C;
    --color-quinary: #CE17F2;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black
}

section {
    position: relative;
}


/* EXPERIENCIA */
.section {
    width: 90%;
    background-color: lemonchiffon;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

/* HABILIDADES */
.habilidades {
    background-color: lavender;      
}

.habil_duras h4 {
    margin-bottom: 3rem;
}

.habil_blandas h4 {
    margin-bottom: 3rem;
}

.habil_duras .btn-secondary {
    background-color: white;
    border: none;
    color: black;
}

.habil_blandas .btn-secondary {
    background-color: white;
    border: none;
    color: black;
}

.btn-secondary img {
    width: 100px;
    height: 80px;
}



/* PROYECTOS */
.proyectos {
    background-color: lemonchiffon;
}

.proyectos_container {
    flex-direction: column;
    gap: 2rem;
}

/* FOOTER */
.footer {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
}

.info {
    background-color: bisque;
}

.redes {
    background-color: darkkhaki;
}