/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #4ABAE4;
    --color-secondary: #F8B813;
    --color-tertiary: #231F20;
    --color-quaternary: #2E296C;
    --color-quinary: #CE17F2;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black
}

section {
    position: relative;
}

.section {
    width: 90%;
    background-color: lemonchiffon;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}